NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PANEL_PASSWORD=
ADMIN_PANEL_SECRET=
NEXT_PUBLIC_SITE_URL=https://your-domain.com
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_ENV=production
CASHFREE_API_VERSION=2025-01-01
NEXT_PUBLIC_CASHFREE_MODE=production
